.fren{
    display: flex;
    gap: 25px;
    
}
.sideUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.userFrend{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
